<library path="src">
  <class name="GroundStation" type="ros_groundstation.gs_plugin.GroundStationPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
    Ground station for planes running ROSplane.
    </description>
    <qtgui>
      <group>
        <label>ROSplane</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to the AUVSI competition.</statustip>
      </group>
      <label>Ground Station</label>
      <icon type="theme">video-display</icon>
      <statustip>Ground Station</statustip>
    </qtgui>
  </class>
</library>
