<launch>

  <arg name="port" default="/dev/ttyUSB0"/>

  <rosparam command="load" file="$(find ros_groundstation)/params/default_topics_telemetry.yaml"/>
  <node name="ground_station" pkg="ros_groundstation" type="ros_groundstation" output="screen"/>

	<node name="telem_io_node" pkg="telemetry" type="telemetry_io" output="screen">
		<param name="port" value="$(arg port)"/>
	</node>

</launch>
